*{
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.img-cover {
	width: 100px;
}

.list-song {
	list-style-type: none;
	border: 0px;
	margin: 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	border-radius: 1.5rem;
	background-color: #e5e5e5;
}

.music-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container-music {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;
}

.container-music:hover {
	cursor: pointer;
}

.opt {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.song {
	background-color: lightblue;
	width: 125px;
	border: 0px;
	color: white;
}

.song:hover{
	background-color: #e5e5e5;
	color: #000;
	cursor: pointer;
}

.category {
	font-size: 0.75rem;
}

.cat {
	font-size: 0.75rem;
}

.sort {
	width: 75px;
	font-size: 1.5rem;
	background-color: skyblue;
	color: #fff;
	border: 0px;
	border-radius: 0.625rem;
	cursor: pointer;
}

.sort:hover {
	background-color: #e5e5e5;
	color: #000;
}

.list-song:hover {
	background-color: #fff;
	cursor: pointer;
}

.slider {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
    background-color: #fff;
}
.slider .bar {
    height: 100%;
    background: #4CAF50;
    width: 0;
    transition: width 0.1s ease-in-out;
}
.progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 12px;
}

.audio {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	width: 500px;
	height: 150px;
	display: none;
	background-color: #eee;
	border: 0px;
	position: relative;
}

body {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.menupage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.mus_player {
	font-size: 1.5rem;
	color: ;
	border: 2px solid black;
	padding: 10px;
	border-radius: 1rem;
}

.mus_player:hover {
	background-color: #e5e5e5;
	border: 0px;
	transition: background-color 0.5s ease-in-out;
	color: white;
}

#menu:hover {
	cursor: pointer;
	padding: 15px;
	border-radius: 2rem;
	background-color: #E5E5E5;
	transition: padding 0.5s ease-in-out;
}

.but-mus {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
	gap: 10px;
	border: 0px;
	padding: 10px;
	border-radius: 1.5rem;
	background-color: #fff;
}

.but-mus:hover {
	padding: 25px;
	transition: padding 0.5s ease-in-out;
}

#play,
#pause,
#forward,
#backward,
#volup,
#voldown{
	background-color: lightblue;
	padding: 10px;
	border-radius: 100%;
}


#play:hover,
#pause:hover,
#forward:hover,
#backward:hover,
#volup:hover,
#voldown:hover{
	background-color: grey;
	color: #fff;
}
.cursong {
	text-align: center;
}

#xmark {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 0px;
	border-radius: 100%;
	background-color: #fff;
	padding: 5px;
}

#xmark:hover {
	background-color: lightblue;
	color: white;
}

.histories {
	border: 0px;
	padding: 10px;
	border-radius: 1rem;
	background-color: skyblue;
	color: white;
}

.histories:hover {
	background-color: #fff;
	cursor: pointer;
	color: #000;
}
